.page{
  font-family: sans-serif;
  background: rgba(0, 0, 0, 0.8);
  //background: url("../../image/back.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  background-attachment: fixed;
}
